@use "function" as func;

// MEDIA-QUERY
@mixin mq($breakpoint) {
	$em-breakpoint: func.to-em($breakpoint);

	@media (max-width: #{$em-breakpoint}) {
		@content;
	}
}

@mixin translate($x: 0, $y: 0) {
	transform: translate($x, $y);
}

// MARGIN
@mixin margin-x($x) {
	margin: 0 $x * 1rem;
}

@mixin margin-y($y) {
	margin-top: $y * 1rem;
	margin-bottom: $y * 1rem;
}

@mixin margin-t($t) {
	margin: 0;
	margin-top: $t * 1rem;
}

@mixin margin-b($b) {
	margin: 0;
	margin-bottom: $b * 1rem;
}

// PADDING

@mixin padding-y($y) {
	padding-top: $y * 1rem;
	padding-bottom: $y * 1rem;
}

@mixin padding-x($x) {
	padding-left: $x * 1rem;
	padding-right: $x * 1rem;
}
