%btn-hover-active {
	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.4);

		&:active {
			transform: translate(0);
			box-shadow: none;
		}
	}
}

%header-margin {
	margin: 15rem 30rem 10rem 30rem;
}

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-col-center {
	@extend %flex-center; // Reuse styles from %flex-center
	flex-direction: column;
}
