.hidden {
	display: none !important;
}

.tool-tip {
	&__book-upload {
		display: inline-block;
		height: 0.6rem;
		width: 0.6rem;
		margin-right: 0.8rem;
		color: var(--neutral-color-800);
		cursor: pointer;
	}

	&__message {
		position: absolute;
		top: 4rem;
		left: 0;
		font-size: 1.8rem;
		font-style: italic;
		z-index: 2;
		background-color: var(--gray-color-200);
		padding: 1rem;
		padding-top: 2rem;

		&::before {
			content: "BETA";
			display: block;
			position: absolute;
			top: -0.2rem;
			left: 0;
			color: red;
			font-weight: 600;
		}
	}
}
