// COLOR
:root{
  // PRIMARY COLOR : AMBER
  --primary-color-200: #fde68a;
  --primary-color-300: #fcd34d;
  --primary-color-400: #fbbf24;
  --primary-color-500: #f59e0b;
  --primary-color-600: #d97706;
  --primary-color-700: #b45309;
  --primary-color-800: #9a3412;

  // SECONDARY COLOR: TEAL
  --secondary-color-200: #99f6e4;
  --secondary-color-300: #5eead4;
  --secondary-color-400: #2dd4bf;
  --secondary-color-500: #14b8a6;
  --secondary-color-600: #0d9488;
  --secondary-color-700: #0f766e;
  --secondary-color-800: #115e59;

  // ACCENT COLOR: PINK
  --accent-color-200: #fbcfe8;
  --accent-color-300: #f9a8d4;
  --accent-color-400: #f472b6;
  --accent-color-500: #ec4899;
  --accent-color-600: #db2777;
  --accent-color-700: #be185d;
  --accent-color-800: #9d174d;

  --color-white: #fff;
}
