@use "../abstracts/" as abs;

button:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 1;
	cursor: not-allowed;

	&:hover {
		transform: translate(0);
		box-shadow: none;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	font-family: Lato;
	font-size: 2.5rem;
	padding: 2rem 4rem;
	background-color: var(--indigo-color-400);
	border-radius: 1.2rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s;
}

.welcome-btn {
	@extend .btn;
	font-family: Inconsolata;
	font-size: 3rem;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		var(--gray-color-200) 0%,
		var(--gray-color-400) 51%,
		var(--gray-color-800) 100%
	);
	background-size: 200% auto;
	color: black;
	box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.3);

	&:hover {
		background-position: right center;
		transform: translateY(-10px);
		color: white;
	}
}

.btn-back {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	font-family: Work Sans;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: -1;
	transform: translateX(-100%);
	opacity: 0;
	background-image: linear-gradient(
		to right,
		var(--indigo-color-800) 0%,
		var(--indigo-color-400) 51%,
		var(--indigo-color-800) 100%
	);
	background-size: 200% auto;
	box-shadow: 0 0 20px #eee;
	transition: all 0.3s;

	&:hover {
		background-position: right center;
	}
}

.clear-all {
	@extend .from-hidden;
	@include abs.translate(100%);
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		var(--red-color-800) 0%,
		var(--red-color-200) 51%,
		var(--red-color-800) 100%
	);
	background-size: 200% auto;
	box-shadow: 0 0 20px #eee;
	transition: 0.1s;

	&:hover {
		background-position: right center;
	}
}

.next__step__btn {
	@extend .btn;
	font-family: Inconsolata;
	text-transform: uppercase;
	opacity: 0;
	background-image: linear-gradient(
		to right,
		var(--emerald-color-300) 0%,
		var(--emerald-color-600) 51%,
		var(--emerald-color-300) 100%
	);
	background-size: 200% auto;
	box-shadow: 0 0 20px #eee;
	transition: all 0.3s ease;

	&:hover {
		background-position: right center;
	}
}

.dynaimc-next-btn {
	@extend .next__step__btn;
	opacity: 1;
	transition: all 0.3s ease;
}

svg {
	height: 3rem;
	width: 3rem;
	fill: #fff;
	margin-right: 1rem;
}
