@use "../abstracts/" as abs;

button:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 1;
	cursor: not-allowed;

	&:hover {
		transform: translate(0);
		box-shadow: none;
	}
}

.btn {
	color: var(--color-white);
	font-family: Lato;
	font-size: 2.5rem;
	padding: 2rem 4rem;
	background-color: var(--indigo-color-400);
	border-radius: 1.2rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-back {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	transition: all 0.3s;
	font-family: Work Sans;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: -1;
	background-color: var(--indigo-color-300);
}

.next__step__btn {
	font-family: Inconsolata;
	text-transform: uppercase;
}

.welcome-btn {
	font-family: Inconsolata;
	text-transform: uppercase;
	background-color: var(--green-color-600);
}
