@use "../abstracts" as abs;

form {
	label {
		font: {
			size: 2.5rem;
			family: Inter;
		}
		text-transform: capitalize;

		input {
			height: 3rem;
			width: 18rem;
			font: {
				size: 1.4rem;
				family: Montserrat;
			}
			outline: none;
			border-radius: 0.4rem;
			border: 1px solid gray;
			padding-left: 0.4rem;
		}
	}

	// input[type="text"],
	// input[type="search"] {
	// 	height: 4rem;
	// 	width: 60%;
	// 	font: {
	// 		size: 2.4rem;
	// 		weight: 600;
	// 		family: Montserrat;
	// 	}
	// 	outline: none;
	// 	border-radius: 0.4rem;
	// 	border: 1px solid gray;
	// 	padding-left: 0.6rem;
	// 	transition: all 0.1s;

	// 	&::placeholder {
	// 		font: {
	// 			family: Montserrat;
	// 			weight: 400;
	// 		}
	// 	}
	// 	&:focus {
	// 		outline: 2px solid black;
	// 	}
	// }

	label input[type="checkbox"] {
		height: 2rem;
		width: 2rem;
		margin-left: 1rem;
	}

	label input[type="file"] {
		border: none;
	}

	fieldset {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 2rem;
		width: 50%;

		legend {
			font: {
				size: 2.5rem;
				family: Inter;
			}
			text-transform: uppercase;
		}

		section {
			label {
				input[type="radio"] {
					font-family: inherit;
					width: 12%;
					height: 50%;
					margin-left: 0;
				}
			}
		}
	}

	input[type="submit"] {
		grid-column: 1 / -1;
		justify-self: center;

		font: {
			size: 3rem;
			family: Inconsolata;
			weight: 600;
		}
		min-width: 15%;
		padding: 2rem 5rem;
		text-transform: uppercase;
		letter-spacing: 1;
		text-align: right;
		background-image: linear-gradient(
			to right,
			var(--pink-color-800) 0%,
			var(--pink-color-300) 51%,
			var(--pink-color-800) 100%
		);
		transition: 0.1s;
		background-size: 200% auto;
		box-shadow: 0 0 20px #eee;

		&:hover {
			background-position: right center;
		}
	}

	.search-section,
	.submit-section {
		display: flex;
		align-items: center;
		margin-top: 4rem;

		svg {
			transform: translateX(6.3rem);
			z-index: 2;
		}

		input[type="submit"] {
			@extend .from-hidden;
			@include abs.translate(0, 100%);
			padding-left: 7rem;
		}
	}
}
