.modal {
	width: 60rem;
	height: 30rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 28rem;
	font-weight: 500;
	margin: auto;
	background-color: var(--red-color-500);
	color: white;
	z-index: 10;
	box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.3);

	&__message {
		min-height: 100%;
		min-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
		font: {
			size: 3rem;
			family: Work Sans;
		}
		padding: 0 1.8rem;
		line-height: 5rem;
		border-radius: 1rem;
	}

	&__btn {
		position: absolute;
		bottom: -10rem;
		left: 20%;
		font: {
			family: Arimo;
			weight: 600;
		}
		transform: translateY(1rem);

		&:hover {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

			&:active {
				box-shadow: none;
				transform: translate(0);
			}
		}
	}
}

.success {
	background-color: var(--green-color-600);
}

.error {
	background-color: var(--red-color-600);
}
