@use "../abstracts/" as abs;
@use "../base";
@use "../components/" as comp;

.contributor {
	&-section {
		h1 {
			@include abs.translate(0, -100%);
			padding: 1rem;
			margin-top: 6rem;
			margin-left: 28rem;

			@include abs.mq(1300px) {
				margin-top: 11rem;
				margin-left: auto;
			}
		}
	}

	&-container {
		margin: 3rem;
		margin-top: 6rem;
		display: flex;
		gap: 2rem;
		transform: translateY(4.5rem);

		@include abs.mq(1300px) {
			transform: translate(0);
		}

		@include abs.mq(1300px) {
			flex-direction: column;
		}

		@include abs.mq(650px) {
			margin-top: 10rem;
		}
	}

	&-item {
		width: 55rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		box-shadow: 0 2px 2px 3px rgba(#000, 0.2);

		@include abs.mq(1300px) {
			width: 100%;
		}

		&:nth-child(2) {
			transform: scale(1.2) translateY(-3rem);

			@include abs.mq(1300px) {
				transform: translate(0);
			}

			.role-container {
				.education {
					transform: translateX(2rem);
				}
				.contributor-item__role {
					transform: translateX(2.2rem);
				}
			}
		}

		&:nth-child(3) {
			.role-container {
				.education {
					transform: translateX(2.7rem);
				}
				.contributor-item__role {
					transform: translateX(3rem);
				}
			}
		}

		figure {
			grid-column: 1 / -1;
			margin-bottom: 1rem;
			height: 25rem;
			width: 25rem;
			justify-self: center;
			margin-top: 3rem;

			img {
				height: 100%;
				width: 100%;
				border-radius: 50%;
			}
		}

		.contributor-name {
			text-align: center;
			background-color: var(--gray-color-600);
			color: var(--gray-color-300);
			grid-column: 1 / -1;
			width: 100%;
			margin: 2rem auto;
			font-family: Montserrat;
			font-size: 3.3rem;
			font-weight: 600;
		}

		.role-container {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 2rem;

			.education {
				grid-column: 1 / -1;
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				$translateX: 100%; // Initial value for odd elements
				h3 {
					color: var(--nuetral-color-600);
					font-size: 2.2rem;
					text-transform: capitalize;

					&:first-child {
						padding-left: 1rem;
					}
				}
			}

			.contributor-item__role {
				grid-column: 1 / -1;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 1rem;
				padding-left: 3rem;
				margin-top: 2rem;
				text-transform: capitalize;

				li {
					font-size: 2.2rem;
					font-family: Lato;
					color: var(--gray-color-700);
				}
			}
		}
	}
}
