@use "../abstracts/" as abs;
@use "../base";
@use "../components/" as comp;

.contributor {
	&-section {
		overflow: hidden;

		h1 {
			@extend .from-hidden;
			@include abs.translate(0, -100%);
		}
	}

	&-container {
		transform: translateY(-2rem);
		@extend %flex-col-center;

		@include abs.mq(650px) {
			margin-top: 10rem;
		}
	}

	&-item {
		width: 55rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		margin-bottom: 5rem;

		figure {
			grid-column: 1 / -1;
			@extend %flex-center;
			margin-bottom: 1rem;

			img {
				height: 25rem;
				width: 25rem;
				border-radius: 50%;
				transform: scale(0.1);
				@extend .from-hidden;
			}
		}

		.contributor-name {
			width: 70%;
			grid-column: 1 / -1;
			margin-bottom: 3rem;
			text-align: center;
			font-weight: 600;
			background-color: var(--gray-color-600);
			color: var(--gray-color-300);
			font-family: Montserrat;
			font-size: 3.3rem;
			margin: auto;
			margin-bottom: 5rem;

			@extend .from-hidden;
			@include abs.translate(0, 100%);
		}

		.education {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 2rem;
			margin-left: 10rem;

			$translateX: 100%; // Initial value for odd elements
			h3 {
				color: var(--nuetral-color-600);
				font-size: 2.2rem;

				&:nth-of-type(even) {
					$translateX: -100%; // Change translation value for even elements
				}

				@extend .from-hidden;
				@include abs.translate($translateX, 0);
			}
		}

		&__role {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1rem;
			padding-left: 2rem;
			margin-left: 10rem;

			li {
				font-size: 2.2rem;
				font-family: Lato;
				color: var(--gray-color-700);

				$translateX: -100%; // Initial value for odd elements
				&:nth-of-type(even) {
					$translateX: 100%; // Change translation value for even elements
				}

				@extend .from-hidden;
				@include abs.translate($translateX, 0);
			}
		}
	}
}
