@use "../abstracts/" as abs;
@use "../base";
@use "../components/" as comp;

.contributor {
	&-section {
		overflow: hidden;
	}

	&-container {
		transform: translateY(-2rem);
		@extend %flex-col-center;

		@include abs.mq(650px) {
			margin-top: 10rem;
		}
	}

	&-item {
		width: 55rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;

		margin-bottom: 5rem;
		figure {
			grid-column: 1 / -1;

			@extend %flex-center;
			margin-bottom: 1rem;

			img {
				height: 25rem;
				width: 25rem;
				border-radius: 50%;
			}
		}

		.contributor-name {
			width: 70%;
			grid-column: 1 / -1;
			margin-bottom: 3rem;
			text-align: center;
			font-weight: 600;
			background-color: var(--gray-color-600);
			color: var(--gray-color-300);
			font-family: Montserrat;
			font-size: 3.3rem;
			margin: auto;
			margin-bottom: 5rem;
		}

		.education {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: repeat(2, 1fr);

			margin-bottom: 2rem;
			margin-left: 10rem;
			h3 {
				color: var(--nuetral-color-600);
				font-size: 2.2rem;
			}
		}

		&__role {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1rem;

			padding-left: 2rem;
			margin-left: 10rem;
			li {
				font-size: 2.2rem;
				font-family: lato;
				color: var(--gray-color-700);
			}
		}
	}
}
