@use "../abstracts/" as abs;
@use "../base";
@use "../components/" as comp;
@use "uploadPage";

.upload-book__form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
	justify-content: center;
	align-items: center;
	gap: 5rem;
	padding: 10rem;
	padding-bottom: 3rem;

	label {
		font-size: 2.5rem;
		text-transform: capitalize;

		input {
			height: 3rem;
			width: 15rem;
		}

		input[type="checkbox"] {
			height: 2rem;
			width: 2rem;
			margin-left: 1rem;
		}
	}

	#random-photo__label {
		position: relative;
	}

	#book-image__label {
		input {
			width: auto;
		}
	}

	#book-genre__label input {
		width: 50%;
	}

	fieldset {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 2rem;
		legend {
			font-size: 2.5rem;
		}
		section {
			label {
				input {
					width: 12%;
					height: 50%;
					margin-left: 0;
				}
			}
		}
	}

	.quantity-label {
		justify-self: start;
	}

	#form-upload {
		grid-column: 1 / -1;
		justify-self: center;

		width: 40%;
		margin-top: 5rem;
	}
}
