@use "../abstracts/" as abs;
@use "../base";
@use "../components/" as comp;
@use "uploadPage";

// UPLOAD-BOOK SPECIFIC FORM LAYOUT
.upload-book__form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max-content, 55rem));
	justify-content: center;
	align-items: center;
	gap: 6rem;
	margin: 10rem 6rem 4rem 6rem;

	label {
		font-size: 2.5rem;
		font-family: Inter;
		text-transform: capitalize;

		input {
			height: 5rem;
			width: 26rem;

			font-size: 2rem;
			font-family: Montserrat;
			font-weight: 600;
			outline: none;
			border-radius: 0.4rem;
			border: 1px solid gray;
			padding-left: 0.8rem;
		}
	}

	#random-photo__label {
		position: relative;
	}

	#book-image__label {
		input {
			width: auto;
		}
	}

	#book-genre__label input {
		width: 50%;
	}

	.quantity-label {
		justify-self: start;
	}
}
