@use "../abstracts/" as abs;
@use "../base";

.issue__book {
	&__progress {
		margin: 0 20vw;
		padding: 1rem 1.6rem;
		text-align: center;
		font-size: 2.3rem;
		margin-bottom: 5.5rem;
		border: 2px solid var(--secondary-color-200);

		.step__description {
			color: var(--secondary-color-800);
			text-transform: uppercase;
			margin-left: 1.8rem;
		}
	}

	&__find__book,
	.step__1 {
		display: flex;
		justify-content: center;
		align-items: center;

		form input[type="submit"] {
			margin-left: 3rem;
		}

		.search-result {
			min-height: 30vh;
			width: 80vw;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			margin: 0 auto;
			padding-top: 2rem;
			border: 2px solid var(--secondary-color-400);

			p {
				font-size: 3.3rem;
				font-weight: 500;
				align-self: flex-start;
			}

			&__section {
				max-width: 100%;
				position: relative;

				.book-mark {
					position: absolute;
					top: 0;
					right: 2rem;
					height: 1rem;
					width: 1rem;
					transform: scale(2);
					cursor: pointer;
				}

				.book {
					display: grid;
					grid-template-columns: repeat(
						auto-fill,
						minmax(min-content, 30rem)
					);
					justify-content: center;
					gap: 5rem;

					padding: 5rem;
					list-style: none;

					&__item {
						display: flex;
						align-items: center;

						border: 2px solid var(--secondary-color-400);

						.img {
							width: 12rem;
							height: auto;
							display: flex;
							justify-content: center;
							align-items: center;

							img {
								height: auto;
								width: 80%;
								max-width: 90%;
								border-radius: 1.5rem;
								object-fit: cover;
								transform: translateX(-0.5rem);
							}
						}

						&__description {
							position: relative;
							padding-left: 0.8rem;

							.item {
								&__quantity {
									display: none;
									position: absolute;
									bottom: 0;
									right: 0.6rem;
									padding: 3px 6px;
									font-size: 2.6rem;
									font-style: italic;
									font-weight: 800;
									border: 2px solid var(--secondary-color-200);
									border-radius: 50%;
									// transform: translateX(0.2rem);
								}
								&__title {
									margin: 2rem 0;
									font-size: 2.3rem;
									text-transform: capitalize;
								}

								&__genere {
									font-weight: 200;
									color: gray;
									font-size: 1.6rem;
								}

								&__author-name {
									//  position: absolute;
									//  bottom: 3rem;
									//  right: 10rem;
									font-size: 1.8rem;
									font-style: italic;
									font-weight: 500;
									margin-top: 2rem;
								}
							}
						}
					}
				}
			}
		}
	}

	.step__2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.step__3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.check__library-card {
			margin-bottom: 10rem;
			.title {
				font-size: 4rem;
				text-transform: uppercase;
				margin-bottom: 5rem;
			}

			.description {
				display: flex;
				justify-content: space-around;
				align-content: center;

				label {
					input {
						height: 3rem;
						width: 3rem;
					}
					span {
						font-size: 3rem;
						margin-left: 1rem;
						transform: translateY(-1rem);
					}
				}
			}
		}
	}

	.step__4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.book__info {
			display: grid;
			grid-gap: 3rem;

			width: 70vw;
			margin-bottom: 5rem;

			img {
				justify-self: center;

				height: 85%;
				width: 40%;

				border-radius: 2rem;
			}

			&__details {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 2rem;

				padding: 2.1rem;

				p {
					font-size: 1.8rem;
					text-transform: capitalize;
				}
			}
		}
	}
	.step__5 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.book__issue {
			&__waiting {
				font-size: 2.5rem;
				padding: 2.5rem 0;
				text-transform: uppercase;
				color: var(--primary-color-400);
			}

			&__success {
				font-size: 3.2rem;
				padding: 2.5rem 0;
				text-transform: uppercase;
				color: var(--accent-color-400);
				font-weight: 600;
				line-height: 2;
				text-align: center;
			}
		}
	}
	.step__6 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.return-book__info {
			font-size: 3.2rem;
			padding: 6rem 0;
			text-transform: capitalize;
			line-height: 2;
		}
	}
	.step__7 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.checkout-message {
			font-size: 3.5rem;
			text-transform: uppercase;
			padding: 2.6rem 0;
			font-weight: 600;
			line-height: 3;
			text-align: center;
		}
	}
}
