@use "../abstracts/" as abs;
@use "../base";
@use "../components";

.search-books-offline {
	margin-bottom: 5rem;

	.h1 {
		margin: 10rem 0 4rem 0;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		padding-top: 2rem;
		padding-left: 15rem;
		margin-bottom: 5rem;

		input[type="text"] {
			height: 4rem;
			width: 50%;
		}

		input[type="submit"] {
			margin-top: 2rem;
		}
	}

	.search-result {
		min-height: 30vh;
		width: 80vw;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		margin: 0 auto;
		padding-top: 2rem;
		border: 2px solid var(--secondary-color-400);

		p {
			font-size: 3.3rem;
			font-weight: 500;
			align-self: flex-start;
		}

		&__section {
			max-width: 100%;

			.book {
				display: grid;
				grid-template-columns: repeat(
					auto-fill,
					minmax(min-content, 30rem)
				);
				justify-content: center;
				gap: 5rem;

				padding: 5rem;

				list-style: none;
				&__item {
					display: flex;
					align-items: center;

					border: 2px solid var(--secondary-color-400);

					.img {
						width: 12rem;
						height: auto;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							height: auto;
							width: 80%;
							max-width: 90%;
							border-radius: 1.5rem;
							object-fit: cover;
							transform: translateX(-0.5rem);
						}
					}

					&__description {
						position: relative;
						padding-left: 0.8rem;

						.item {
							&__quantity {
								position: absolute;
								bottom: 0.2rem;
								right: 1.6rem;
								font-size: 2rem;
								font-style: italic;
								font-weight: 800;
							}
							&__title {
								margin: 2rem 0;
								font-size: 2.3rem;
								text-transform: capitalize;
							}

							&__genere {
								font-weight: 200;
								color: gray;
								font-size: 1.6rem;
							}

							&__author-name {
								//  position: absolute;
								//  bottom: 3rem;
								//  right: 10rem;
								font-size: 1.8rem;
								font-style: italic;
								font-weight: 500;
								margin-top: 2rem;
							}
						}
					}
				}
			}
		}
	}
}
