@use "../abstracts/" as abs;

.search-books-offline {
	margin-bottom: 5rem;

	.h1 {
		line-height: 1.05;
		transform: translateY(-100%);
		opacity: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2rem;
		margin-bottom: 5rem;

		input[type="search"] {
			transform: translateY(-100%);
		}
	}

	.search-result {
		min-height: 30vh;
		width: 85vw;
		margin: 0 auto;
		padding-top: 2rem;
		background-color: var(--gray-color-200);
		border-radius: 1rem;

		p {
			font-size: 3rem;
			font-family: Work Sans;
			font-weight: normal;
			align-self: flex-start;
			border-bottom: 6px double var(--secondary-color-400);
			margin-left: 1.6rem;
			margin-bottom: 5rem;
			text-transform: uppercase;
		}

		.book {
			padding-bottom: 3rem;
			margin-top: 2rem;
			list-style: none;

			&__info {
				display: grid;
				grid-template-columns: max-content 1fr;
				align-items: center;
				margin: 2rem 2rem 2rem 5vw;
				padding: 1.3rem 0.7rem;
				border-radius: 1.3rem;
				background-color: var(--gray-color-300);
				cursor: pointer;
				transition: all 0.2s;

				&:hover {
					background-color: var(--gray-color-400);
				}

				&:active {
					background-color: var(--gray-color-500);
				}

				@media (max-width: 780px) {
					grid-template-columns: 1fr;
				}

				figure {
					width: 12rem;
					height: 15rem;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					margin-left: 2rem;

					@media (max-width: 780px) {
						margin-bottom: 7rem;
						justify-content: center;
					}

					img {
						height: 100%;
						width: 100%;
						max-width: 100%;
						border-radius: 1rem;
						font-size: 3rem;
						background-color: var(--gray-color-200);
					}
				}

				&__details {
					@extend %flex-col-center;

					padding: 3rem 1rem;
					padding-left: 2rem;
					p {
						border: none;
						font-size: 2.5rem;
						font-weight: 400;
						font-family: Arimo;
						margin-bottom: 0;

						&:not(:last-child) {
							margin-bottom: 2.6rem;
						}
					}
				}
			}
		}
	}
}
