@use "../abstracts/" as abs;
@use "../base";
@use "../components";

.search-books-offline {
	margin-bottom: 5rem;

	.h1 {
		margin: 15rem 0 2rem 0;
		line-height: 1.05;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		padding-top: 2rem;
		margin-bottom: 5rem;

		input[type="search"] {
			height: 4rem;
			width: 60%;
			outline: none;
			border-radius: 0.4rem;
			border: 1px solid gray;
			padding-left: 0.6rem;

			&::placeholder {
				font-family: Montserrat;
			}
		}

		input[type="submit"] {
			margin-top: 2rem;
			font-family: Inconsolata;
			letter-spacing: 1;
			text-transform: uppercase;
		}
	}

	.search-result {
		min-height: 30vh;
		width: 85vw;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		margin: 0 auto;
		padding-top: 2rem;
		border: 2px solid var(--secondary-color-400);
		border-radius: 1rem;

		p {
			font-size: 3.3rem;
			font-family: Work Sans;
			align-self: flex-start;
			border-bottom: 6px double var(--secondary-color-400);
			margin-left: 1.6rem;
			padding-bottom: 5px;
		}

		&__section {
			max-width: 100%;

			.book {
				padding-bottom: 3rem;
				margin-left: -50.5rem;
				margin-top: 2rem;

				list-style: none;

				&__info {
					display: flex;
					align-items: flex-start;

					margin-top: 3rem;

					figure {
						height: 100%;
						img {
							width: 15rem;
							height: auto;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							margin-right: 4rem;
							border-radius: 1rem;
						}
					}

					&__details {
						p {
							border: none;
							font-size: 2.5rem;
							font-weight: 400;
							font-family: Arimo;

							&:not(:last-child) {
								margin-bottom: 2.6rem;
							}
						}
					}
				}
			}
		}
	}
}
