@use "../abstracts/" as abs;

.upload-book-container {
	.h1 {
		margin-bottom: -3rem;

		@extend .from-hidden;
		@include abs.translate(0, -120%);
	}

	form section input[type="submit"] {
		transform: translate(0);
		opacity: 1;
	}
}
