@use "../abstracts/" as abs;
@use "../base";
@use "../components";

.view-books-offline {
	overflow-x: hidden;
	margin-bottom: 20rem;

	h1 {
		word-spacing: 1;
		letter-spacing: -2;
	}

	.book {
		width: 95vw;
		max-width: 100vw;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));
		justify-content: center;
		gap: 4em;

		overflow-y: hidden;

		&__item {
			display: flex;
			list-style: none;
			border-radius: 1rem;
			box-sizing: content-box;
			position: relative;
			background-color: var(--gray-color-200);

			// ITEM IMG
			.img {
				width: 12rem;
				height: auto;
				@extend %flex-center;
				border-radius: 0.7rem;
				background-color: var(--gray-color-300);

				img {
					height: auto;
					width: 80%;
					max-width: 90%;
					border-radius: 1rem;
					object-fit: cover;
					transform: translateX(-0.5rem);
				}
			}

			// ITEM DESCRIPTIONS
			&__description {
				padding-left: 0.8rem;

				flex: 0 0 50%;

				.item {
					&__quantity {
						position: absolute;
						bottom: 0.2rem;
						right: 1.6rem;
						font-size: 2rem;
						font-style: italic;
						font-weight: 800;
					}

					&__title {
						margin: 2rem 0;
						font-size: 2.3rem;
					}

					&__genere {
						font-weight: 200;
						color: gray;
						font-size: 1.6rem;
					}

					&__author-name {
						//  position: absolute;
						//  bottom: 3rem;
						//  right: 10rem;
						font-size: 1.8rem;
						font-style: italic;
						font-weight: 500;
						margin-top: 2rem;
					}
				}
			}
		}
		.low-quantity-book {
			filter: opacity(0.8);
		}
		.no-quantity-book {
			filter: opacity(0.6);
		}
	}

	&__custom {
		margin: 6rem;
		margin-top: 20rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		// position: relative;

		.clear-all {
			// position: absolute;
			// top: 17rem;
			// right: 7rem;
			background-color: red;
			text-transform: uppercase;
		}

		ul {
			margin-top: 6rem;
		}
	}
}
